* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

#icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.container-img {
  display: flex;
  height: 100px;
  color: #105718;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

.container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*formulario de busca*/
.form {
  display: flex;
  margin: 2rem;
}

label {
  display: flex;
}

.form input {
  width: 450px;
  height: 40px;
  border-radius: 10px;
  border: solid 2px;
  border-color: gainsboro;
  padding-right: 30px;
}

#lupa {
  width: 20px;
  height: 20px;
}

.form button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #27ae60;
  color: white;
  margin-left: 10px;
  padding: 0.5rem;
  font-size: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
}

/* cards de personagens*/
.list {
  width: 109%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 48%;
  margin: 0.5rem;
  background-color: white;
  color: black;
}

.card-img img {
  width: 150px;
  height: 150px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-body p {
  font-size: 14px;
  justify-content: left;
  padding: 2px;
}

#cardBody {
  display: inline-block;
  padding: 10px;
}

h2 {
  color: #105718;
  font-weight: 800;
}

.status {
  display: flex;
  align-items: center;
}

li {
  font-size: 30px;
  width: 20px;
}

/*botoes paginação*/
.buttons {
  width: 30%;
  display: flex;
  justify-content: center;
}
.buttons button {
  outline: none;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
}

#container {
  display: flex;
  justify-content: center;
}

.rick-and-morty {
  width: 300px;
  height: 300px;
}

/* footer */
footer {
  background-color: #1f2821;
  color: #fff;
  height: 300px;
  width: 100%;
}

#lista {
  padding: 83px;
}

footer > p {
  display: flex;
  text-align: center;
  list-style: none;
  gap: 20px;
  justify-content: center;
  font-size: initial;
  padding: 70px;
}

#informations{
  gap: 30px;
}

#credits {
  padding: 60px;
}